footer {
  height: 374px;
  flex-shrink: 0;
  background: var(--Black, #1c1c1c);
  padding: 60px 160px;
  .footer-infor {
    display: flex;
    height: 262px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    p {
      color: var(--Bright, #fafafa);
      /* 40-bold */
      font-family: panel-sans, sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    span {
      color: var(--Green-Neon, #d4ff77);
      /* 100-regular italic */
      font-family: swear-display, serif;
      font-size: 100px;
      font-style: italic;
      font-weight: 500;
      line-height: 80px;
    }
    ul {
      margin-bottom: 0em !important;
      li {
        color: var(--Bright, #fafafa);
        /* 20-regular */
        font-family: Inter, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 130% */
        position: relative;
        padding-bottom: 4px;
        cursor: pointer;
        &:after {
          transition: 0.3s;
          position: absolute;
          left: 0px;
          bottom: 0px;
          content: "";
          width: 0%;
          height: 2px;
          background-color: #d4ff77;
        }
        &:hover {
          &:after {
            transition: 0.3s;
            position: absolute;
            left: 0px;
            bottom: 0px;
            content: "";
            width: 100%;
            height: 2px;
            background-color: #d4ff77;
          }
        }
      }
    }
  }
  .footer-contact {
    display: flex;
    height: 262px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    button {
      color: var(--Black, #1c1c1c);
      font-family: panel-sans, sans-serif;
      font-size: 40px;
      line-height: normal;
      font-weight: 700;
      padding: 18px 60px;
      border-radius: 90px;
      background: var(--Green-Neon, #d4ff77);
    }
    .footer-social {
      display: flex;
      height: 52px;
      justify-content: center;
      align-items: center;
      gap: 28px;
      flex-shrink: 0;
      div {
        padding: 12px;
        position: relative;

        &:after {
          transition: 0.3s all;
          content: "";
          position: absolute;
          border: 2px solid #d4ff77;
          border-radius: 8px;
          opacity: 0;
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px;
        }
        &:hover {
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
}
