footer {
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
}
footer h3 {
  color: var(--neutral-01, #fff);
  font-size: 20px;
  font-weight: 200;
  line-height: 120%;
  text-transform: uppercase;
  position: relative;
}
footer h3::after {
  content: "";
  position: absolute;
  height: 4px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), #ec3237;
  width: 72px;
  bottom: -14px;
  left: 0px;
}
footer .wrapper-QRCODE img {
  width: 112px;
  margin-bottom: 24px;
  left: 5px;
}
footer a {
  color: var(--neutral-01, #fff);
}
footer a svg {
  display: inline;
  margin-right: 8px;
}
footer .copywrite span {
  display: inline;
  font-weight: 300 !important;
  line-height: 140% !important;
  font-size: 18px;
}/*# sourceMappingURL=Footer.css.map */