.fill-word .info-box {
  position: relative;
  background: url("../../../public/assets/icons/bg-info-box.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 1.5rem 3rem 3rem 4rem;
  border-radius: 12px;
}/*# sourceMappingURL=fill-word.css.map */