#menu-main {
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1),
    0px 4px 6px -2px rgba(16, 24, 40, 0.05);
  .avatar-custom {
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;
    @media screen and (max-width: 768px) {
      width: 2.75rem;
      height: 2.75rem;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 3px solid #c5c5c5;
    &.avatar-logged {
      border: 3px solid #12b76a;
    }
    svg.icon-default {
      width: 1.7rem;
      height: auto;
      margin-top: 0.8rem;
    }
  }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 100%;
    }
  }
}
.ant-dropdown-menu {
  .ant-dropdown-menu-item {
    padding: 0.7rem 0.6rem !important;
    border-radius: 0 !important;
    &:last-child {
      border-top: 1px solid #ec3237;
    }
  }
}
.dropdown-language-list {
  .ant-dropdown-menu {
    .ant-dropdown-menu-item {
      padding: 0.7rem 0.6rem !important;
      border-radius: 0 !important;
      &:last-child {
        border-top: none !important;
      }
    }
  }
}
