.modal-add-code .ant-form-item-label label {
  color: #3e4095 !important;
}
.modal-add-code .ant-btn {
  border-radius: 0.25rem !important;
  padding: 0.625rem 2rem !important;
  height: auto !important;
}

.modal-add-noti .ant-form-item-label label {
  color: #3e4095 !important;
}
.modal-add-noti .ant-btn {
  border-radius: 0.25rem !important;
  padding: 0.625rem 2rem !important;
  height: auto !important;
}
.modal-add-noti .ant-modal-content {
  border-radius: 12px !important;
}/*# sourceMappingURL=modal-add-code.css.map */