.progress-box {
  height: 1.25rem;
  background: #e7e7e7;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1.25rem;
  width: 95%;
  transition: all 0.5s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  .progress {
    transition: all 0.5s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    height: 1.25rem;
    border-radius: 80px;
    background: linear-gradient(90deg, #3e4095 0%, #a1a2e4 114.96%);
    position: relative;
  }
  svg {
    width: 3.3rem;
    height: auto;
    position: absolute;
    right: -1.5rem;
    transform: translateY(-1rem);
  }
}
.shadow-card-front {
  // transform: rotateY(-180deg);
  // transform: scaleX(-1);
}
.shadow-card-back {
  transform: scaleX(-1);
}
.text-back {
  transform: scaleX(-1);
}
.icon-back {
  display: flex;
  flex-direction: row-reverse;
}
.shadow-card-front,
.shadow-card-back {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 1000ms;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  @include mobile {
    height: 440px;
  }
}
.wrapper-img-word-box {
  width: 80%;
  height: 300px;
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.layout-cousstom-respon {
  @include mobile {
    grid-template-columns: 1fr 1fr;
  }
}

.wrapper-notebooks {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    overflow: auto;
    align-items: center;
    justify-content: flex-start;
    transition: all 1s;
    &::-webkit-scrollbar {
      width: 1px;
      height: 1px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
  }

  .item-notebook {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(5);

    @include mobile {
      min-width: rem(95);
    }

    &.active,
    &:hover {
      > span {
        font-weight: 900;
        font-size: rem(16);
      }
      .line {
        height: rem(16);
        opacity: 1;
        transform: translateY(-2px);
        transition: all 0.3s;
        
      }
    }

    > span {
      font-style: normal;
      font-weight: 700;
      font-size: rem(14);
      text-align: center;
      color: #000000;
    }

    .line {
      width: 100%;
      height: rem(10);
      background: #54a3df;
      border: rem(1) solid #c1c1c1;
      opacity: 0.2;
    }
  }
}
