.search-box {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  height: 3rem;
}
.search-box .ant-form-item {
  width: 100%;
  margin-bottom: 0 !important;
}
.search-box input {
  border: none !important;
  padding: 0 !important;
  font-size: 1rem !important;
  font-family: "AtlasGrotesk", sans-serif !important;
}
.search-box input:focus {
  box-shadow: none !important;
}
.search-box input::-moz-placeholder {
  font-size: 1rem !important;
  font-family: "AtlasGrotesk", sans-serif !important;
}
.search-box input::placeholder {
  font-size: 1rem !important;
  font-family: "AtlasGrotesk", sans-serif !important;
}/*# sourceMappingURL=search-box.css.map */