.side-info-box {
  background-image: url("../../../public/assets/images/info-box-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .wrapper-progress {
    > div {
      margin-bottom: 0;
    }
  }
  .ant-progress-bg {
    height: 0.875rem !important;
  }
}
