.wrapper-layout-FQAS {
  padding-bottom: rem(24) 0;
  gap: rem(18);
  min-height: 90vh;
  .wrapper-layout-content {
    padding: 12px 32px;
    @media screen and (max-width: 768px) {
      padding: 12px 12px;
    }
  }
  .header-content-FQAS {
    display: grid;
    gap: rem(12);
    @include tablet {
      padding: rem(8);
      gap: rem(6);
    }

    > h2 {
      color: #3e4095;
      font-size: rem(38);
      font-weight: bold;
      padding-top: 24px !important;
      @include tablet {
        padding-top: 0px !important;
        font-size: rem(28);
        img{
          width: 162px;
          height: 107px;
        }
      }
    }
  }

  .content-main-FQAS {
    background-color: white;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    gap: rem(16);
    margin-top: 32px;
    @media screen and (max-width: 768px) {
      margin-top: 16px;
    }
    .ant-collapse {
      .ant-collapse-header {
        border-radius: 3px 3px 0px 0px !important;
        overflow: hidden;
        span {
          color: #7c7c7c;
        }
      }
      .ant-collapse-item-active {
        border: 1px solid var(--neutral-02, #181818);
        background: #fff;
        .ant-collapse-header {
          background: #e8f8ff;
          span {
            color: #6cb4eb;
          }
        }
      }
    }
    .item-FQAs {
      position: relative;
      overflow: hidden;
      /* border-radius */
      -webkit-border-radius: 4px !important;
      -moz-border-radius: 4px !important;
      border-radius: 4px !important;
      /* box-shadow */
      -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.04);
      -moz-box-shadow: 4px 2px 4px 0px rgba(0, 0, 0, 0.04);
      border: 1px solid var(--neutral-02, #aaaaaa3b);
      background: #fff;
      box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.04);
      &:has(.ant-collapse-item-active) {
        box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.226) !important;
        &::after {
          top: 0px;
          right: 0px;
          content: "";
          position: absolute;
          background-color: red;
          height: 100%;
          width: 0.625rem;
        }
      }

      .descriptions {
        font-style: normal;
        font-weight: 400;
        font-size: rem(16);
        line-height: 160%;
        padding-left: rem(18);
        .item-descriptions {
          color: #3e4095;
          font-weight: bold;
          float: left;
        }
      }
    }
  }
}

.example {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  border-radius: 4px;
}
