@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

// -=========== BASE =====================
@import "./base/reset";
@import "./base/function";
@import "./base/grid";
@import "./base/animations";
@import "./common";

// -=========== UTILITIES ================
@import "./utilities/u-index.style";

// -=========== COMPONENT ================
@import "./components/menu.scss";
@import "./components/search-box.scss";
@import "./components/side-info-box.scss";
@import "./components/modal-add-code.scss";
@import "./components/progress-box.scss";
@import "./components/verify-input.scss";
@import "./components/fill-word.scss";
@import "./components/c-index.style";
@import "./components/staticPages/index.scss";
@import "./components/FQAs/CpnFQAs.scss";
@import "./components/study-guide/study-guide.scss";
@import "./components/footer/Footer.scss";

// -=========== PAGES ================
@import "./page/home.scss";
@import "./page/auth.scss";
@import "./page/cate.scss";
@import "./page/note.scss";
@import "./page/revise.scss";
@import "./page/upgrade.scss";
@import "./page/courses.scss";
@import "./page/course-detail.scss";
@import "./page/learn-new-word.scss";
@import "./page/personal-page.scss";

// -=========== CUSTOM ANTD ================
// @import "~antd/dist/antd.css";
html,
body,
#root {
  margin: 0;
  padding: 0;
  @include mobile {
    width: 100%;
  }
}
a:hover {
  @media screen and (max-width: 768px) {
    opacity: 1 !important;
  }
}
.ant-input {
  height: 2.625rem;
  &::placeholder {
    color: #8b8b8b;
  }
}
.ant-upload-list-item {
  padding: 0 !important;
  border: 4px solid #12b76a !important;
}
.ant-upload-list-item::before {
  width: 100% !important ;
  height: 100% !important;
}
.ant-notification-notice-message {
  color: rgb(220 38 38) !important;
}
.ant-notification-notice-description {
  color: rgb(24 24 24);
}
.ant-list-item-meta-title {
  font-weight: bold;
  font-size: 1.1rem !important;
}
.ant-space-item button {
  height: 36px !important;
  // padding: 12px 8px !important;
}
.barChart {
  -webkit-overflow-scrolling: touch;
}

// body {
//   font-family: "Public Sans", sans-serif;
// }

h1,
h2,
h3,
span,
p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
  font-family: panel-sans, sans-serif;
}
.thumbnail-container {
  width: 100%;
  height: 280px;
  background-color: white;
}
.thumbnail-container-extra {
  width: 100%;
  height: 200px;
  background-color: white;
}

.bg-img-primary {
  background: url("../../public/assets/images/background.jpg") bottom no-repeat,
    url("../../public/assets/images/background-bubble.jpg") top repeat;
  transition: background-image 0.2s ease-in-out;
  background-color: #84c6f8;
  background-size: 100%;
}

.bg-img-primary-opacity {
  background: url("../../public/assets/images/background-2.png") bottom
    no-repeat;
  transition: background-image 0.2s ease-in-out;
  background-color: #eaeaea;
  background-size: 100%;
}
.ant-collapse,
.ant-collapse-header,
.ant-collapse-item,
.ant-collapse-content {
  border: none !important;
  outline: none !important;
  border-radius: 0 !important;
}

.arrow-progress-bar {
  .info-box {
    box-shadow: 8px 2px 16px -4px rgba(16, 24, 40, 0.16);
    background-color: #62a109;
  }
  .green {
    background-color: #20cbdd;
  }
  .blue {
    background-color: #fe7643;
  }
  .orange {
    background-color: #4da1f7;
  }
  .purple {
    background-color: #ffc63b;
  }
  .yellow {
    background-color: #895ef6;
  }
  .lightBlue {
    background-color: #f03063;
  }
  .darkPurple {
    background-color: #79e3a9;
  }
  .text-green {
    color: #20cbdd;
  }
  .text-blue {
    color: #fe7643;
  }
  .text-orange {
    color: #4da1f7;
  }
  .text-purple {
    color: #ffc63b;
  }
  .text-yellow {
    color: #895ef6;
  }
  .text-lightBlue {
    color: #f03063;
  }
  .text-darkPurple {
    color: #79e3a9;
  }
  .progress-bar {
    .amount {
      position: absolute;
      height: 0%;
      max-width: 100%;
      height: 3rem;
      bottom: 0;
      left: 0;
      transition: all 1s;
      // background: #7fbd27;
      overflow: hidden;
    }
    .green {
      background: #20cbdd;
    }
    .blue {
      background: #fe7643;
    }
    .orange {
      background-color: #4da1f7;
    }
    .purple {
      background-color: #ffc63b;
    }
    .yellow {
      background-color: #895ef6;
    }
    .lightBlue {
      background: #f03063;
    }
    .tri {
      position: relative;
      height: 3rem;
      background: #eeeeee;
      .tri-before,
      .tri-after {
        content: "";
        position: absolute;
        top: -1px;
        z-index: 1;
        bottom: -1px;
      }
      .tri-before {
        border-top: 1.5rem solid white;
        border-left: 1.7rem solid #a9727200;
        border-bottom: 1.5rem solid white;
        padding-right: 0;
        // margin-right: -1px;
        right: 0;
      }
      .tri-after {
        left: 0;
      }
    }
  }
}

.avatar-uploader {
  .ant-upload-select {
    width: 100% !important;
    height: auto !important;
    padding-bottom: 100%;
    position: relative;
    border: 0.3rem solid #12b76a !important;

    .ant-upload {
      position: absolute;
      height: auto !important;
      right: 0.2rem;
      bottom: 0.5rem;
      border: 0.2rem solid white;
      border-radius: 50%;
    }
  }
}

.ant-switch-checked {
  background: #ffc63b !important;
}
// #bottomsheet {
//   width: 50vw !important;
// }
:root {
  --rsbs-max-w: 40vw;
  --rsbs-ml: auto;
  --rsbs-mr: auto;
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-bg: #fff;
  --rsbs-handle-bg: hsla(0, 0%, 0%, 0.14);
  --rsbs-overlay-rounded: 16px;
  @include tablet {
    --rsbs-max-w: 60vw;
  }
  @include mobile {
    --rsbs-max-w: 100vw;
  }
}
.bottom-sheet-custom {
  max-height: 50vh;
  overflow: auto;
  // background-color: transparent;
  // display: flex;
  // justify-content: center;
  .ic-head {
    width: 11rem;
    height: auto;
    position: absolute;
    top: -15rem;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1;
    svg {
      width: 100%;
    }
  }
}

.ant-btn-secondary {
  background: white !important;
}
.ant-statistic-content {
  font-size: 15px !important;
  // font-weight: 550;
}

.css-dev-only-do-not-override-1sxhfu8.ant-input-search
  .ant-input-search-button {
  height: 2.625rem !important;
  width: rem(38);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.css-1sxhfu8.ant-input-search .ant-input-search-button {
  height: 2.625rem !important;
  width: rem(38);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.ant-upload-list.ant-upload-list-picture-circle
  .ant-upload-list-item-thumbnail
  img {
  object-fit: cover !important;
}
.ant-input.warning-text-area {
  border: red 1px solid;
}
span.ant-progress-text {
  display: none !important;
}
.ant-progress-outer {
  padding-inline-end: 0px !important;
}
.ant-progress-inner {
  background-color: #d9d9d9 !important;
  .ant-progress-bg {
    background-color: #8eba04 !important;
  }
}
.modal-edit-profile {
  .ant-input {
    height: auto;
  }
  .ant-form-item {
    margin-bottom: 0px !important;
  }
  .ant-select-selector {
    height: 100% !important;
    align-items: center;
    .ant-select-selection-search-input {
      padding: auto 0px;
    }
    .ant-select-selection-placeholder {
      display: flex;
      align-items: center;
    }
  }
  .gender-form {
    .ant-form-item-control-input-content {
      height: fit-content;
    }
  }
  .ant-form-item-control-input {
    height: 46px !important;
    .ant-input-affix-wrapper {
      padding: auto 11px;
      height: 46px;
    }
  }

  .birth-form-wrap {
    position: relative !important;
    .birth-icon {
      position: absolute !important;
      left: 11px;
      top: calc(50% + 14px);
      transform: translateY(-50%);
    }
    .ant-form-item.birth-form {
      .ant-form-item-control {
        height: 46px !important;
        .ant-form-item-control-input-content {
          .ant-picker {
            width: 100% !important;
            // height: 100% !important;
            padding: 11px 0px !important;
            padding-left: 34px !important;
          }
        }
      }
    }
  }
}
.ant-modal-close:hover {
  color: rgba(255, 255, 255, 0.88) !important;
  background-color: #ff3e3e !important;
}
