@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  background-color: #f9f9f9;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
span,
p {
  margin-bottom: 0;
}

.ant-message {
  z-index: 99999 !important;
}
a {
  @apply text-blue-700;
}

a:hover {
  text-decoration: none;
  transition: 0.2s;
  opacity: 0.6;
}

header {
  padding-left: 3rem;
  padding-right: 3rem;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (min-width: 1536px) {
  .container {
    max-width: 1436px;
  }
}
@media screen and (max-width: 1367px) {
  html {
    font-size: 14px;
  }
  .button-homepage {
    margin-top: 1rem;
  }

  @media screen and (max-width: 1024px) {
    html {
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 768px) {
  header {
    padding-left: 0;
    padding-right: 0;
  }
  .button-homepage {
    margin-top: 2rem;
  }
}
