.bg-wrapper-popup-login {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(102, 102, 102, 0.7);
  z-index: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
  .wrapper-button-noti {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(32);
    margin-top: rem(50);

    .btn-popup {
      font-style: normal;
      font-weight: 400;
      font-size: rem(16);
      color: #ffffff;
      display: flex;
      padding: rem(14) rem(32);
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      &.cancel {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)
          ),
          #ec3237;
        box-shadow: rem(0) rem(1) rem(2) rgba(16, 24, 40, 0.05);
        border-radius: rem(4);
        width: 9rem;
      }
      &.login {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)
          ),
          #62a109;
        box-shadow: rem(0) rem(1) rem(2) rgba(16, 24, 40, 0.05);
        border-radius: rem(4);
      }
    }
  }
  .wrapper-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 rem(32);
    margin-top: rem(50);

    .btn-popup {
      font-style: normal;
      font-weight: 400;
      font-size: rem(16);
      color: #ffffff;
      padding: rem(14) rem(32);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;

      &.cancel {
        width: 9rem;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)
          ),
          #ec3237;
        box-shadow: rem(0) rem(1) rem(2) rgba(16, 24, 40, 0.05);
        border-radius: rem(4);
      }
      &.login {
        padding: rem(14) rem(16);
        width: 9rem;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)
          ),
          #62a109;
        box-shadow: rem(0) rem(1) rem(2) rgba(16, 24, 40, 0.05);
        border-radius: rem(4);
      }
    }
  }

  .wrapper-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: rem(28);
    gap: rem(24);

    .btn_close {
      text-align: center;
      padding: rem(14) rem(32) rem(16);
      box-shadow: rem(0) rem(1) rem(2) rgba(16, 24, 40, 0.05);
      border-radius: rem(4);
      cursor: pointer;
      min-width: rem(151);

      &.red {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)
          ),
          #ec3237;
        font-style: normal;
        font-weight: 400;
        font-size: rem(16);
        color: #ffffff;
      }
      &.white {
        filter: drop-shadow(rem(0) rem(1) rem(2) rgba(16, 24, 40, 0.05));
        border-radius: rem(8);
        font-style: normal;
        font-weight: 400;
        font-size: rem(16);
        border: rem(1) solid #bbbbbb;
      }
    }
  }
}

.bg-wrapper-popup-upgrade {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(102, 102, 102, 0.7);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
}
