.wrapper-background-render-step {
  margin: 0 auto;
  width: 75%;
  @include mobile {
    width: 100%;
  }
  .wrapper-item-cnt-render-bg {
    padding: rem(37) 0 rem(37);
    display: flex;
    flex-direction: column;
    gap: rem(28);
    @include mobile {
      padding: rem(24) 0 rem(2);
      gap: rem(0);
    }
  }
}
