.wrapper-src-ctn-vocabulary-reviews {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  .bg-ctn-vocabulary-reviews {
    padding: rem(54) rem(104);
    background-color: #f6f6f6;
    width: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: rem(40);
    align-items: center;
    @include tablet {
      padding: rem(20) rem(24);
    }
    @include mobile {
      width: 100%;
      row-gap: rem(32);
    }

    .header-ctn-vocabulary-review {
      width: 100%;
      background: transparent;
      display: flex;
      gap: rem(44);
      align-items: center;

      @include mobile {
        flex-direction: column;
        gap: rem(12);
      }

      > img {
        width: rem(100);
        height: rem(100);
        object-fit: cover;

        @include mobile {
          width: rem(52);
          height: rem(52);
        }
      }

      .bg-txt-header-main {
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: rem(8);

        .title-main {
          &__header {
            font-style: normal;
            font-weight: 700;
            font-size: rem(24);
            color: #8eba04;
          }
          &__child {
            font-style: normal;
            font-weight: 400;
            font-size: rem(16);
          }
        }
      }
    }

    .content-ctn-vocabulary-review {
      flex-grow: 1;
      flex-basis: 0;
      width: 100%;
      background: #ffffff;
      border-radius: rem(12);
      border: rem(1) solid #92a8d1;
      padding: rem(32) rem(44);
      overflow-y: scroll;
      position: relative;
      z-index: 0;
      display: flex;
      flex-direction: column;
      gap: rem(20);

      @include mobile {
        padding: rem(24) rem(16);
      }

      &::-webkit-scrollbar {
        width: rem(8);
        @include mobile {
          width: rem(4);
        }
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: #d9d9d9;
        box-shadow: inset 0 0 0 rem(1) #ccc;
        border-radius: rem(24);
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #dbdbdb;
      }

      .child-item-vocabulary-review {
        display: flex;
        gap: rem(24);
        align-items: center;

        @include mobile {
          gap: rem(8);
        }

        > img {
          width: rem(28);
          height: rem(28);
          object-fit: cover;
        }

        .bg-item {
          flex: 1;
          display: flex;
          justify-content: space-between;
          gap: rem(20);

          .bg-english-txt {
            flex: 1;
            font-style: normal;
            font-weight: 400;
            font-size: rem(18);
            color: #181818;

            @include mobile {
              font-size: rem(12);
            }

            &.left {
              text-align: left;
            }

            &.right {
              text-align: right;
            }
          }
        }

        .txt {
          &__description {
            font-style: normal;
            font-weight: 400;
            font-size: rem(12);
            color: #c0c0c0;

            @include mobile {
              font-size: rem(8);
            }
          }

          &__noun {
            font-style: normal;
            font-weight: 400;
            font-size: rem(18);
            text-align: center;
            color: #181818;

            @include mobile {
              font-size: rem(12);
            }
          }
        }
      }
    }

    .footer-ctn-vocabulary-review {
      width: 100%;

      @include mobile {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .btn-vocabulary {
        padding: rem(12) rem(40);
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)
          ),
          #ec3237;
        box-shadow: rem(0) rem(1) rem(2) rgba(16, 24, 40, 0.05);
        border-radius: rem(4);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        font-style: normal;
        font-weight: 500;
        font-size: rem(16);
        color: #ffffff;

        &.disabled {
          background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.1),
              rgba(0, 0, 0, 0.1)
            ),
            #6e6c6c;
          cursor: no-drop;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        @include mobile {
          width: fit-content;
        }
      }
    }
  }
}

.wrapper-box-item-units {
  border-radius: rem(12);
  border: rem(1) solid #e1e1e1;
  background: #fff;
  box-shadow: 0px 2px 8px -2px rgba(16, 24, 40, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  min-height: rem(225);
  overflow: hidden;
  &.blue {
    // background-color: rgb(62, 64, 149);
    background-color: #8EBA04;
    border: 1px solid #8eba04;
    color: #e1e1e1;
  }

  .form-name {
    width: 100%;
    background: #fff;;
    .circel-img {
      width: 100%;
      flex: none;
      border-radius: rem(12);
      max-height: 156px;
      > img {
        width: 100%;
        max-height: 156px;
        object-fit: contain;
        border-top-left-radius: rem(12);
      }
    }
  }

  .form-title-units {
    padding: rem(12);
    display: flex;
    width: 100%;
    border-top: #696969 1px solid;
    .child-name {
      display: flex;
      flex-direction: column;
      gap: rem(2);
      width: 90%;

      .name {
        &__unit {
          font-weight: 400;
          display: -webkit-box;
          max-width: 100%;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        &__title {
          color: #3e4095;
          font-size: rem(20);
          font-style: normal;
          font-weight: 600;
          line-height: 110%; /* 22px */
          letter-spacing: 0.2px;
          display: -webkit-box;
          max-width: 100%;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          min-height: 40px;
          &.white {
            color: white;
          }
        }
      }
    }
  }

  .form-go-work {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(5);

    .name {
      &__work {
        font-size: rem(14);
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 128.571% */

        &.red {
          color: #ec3237;
        }

        &.blue {
          color: #8eba04;
        }
      }
    }

    > img {
      cursor: pointer;
      position: absolute;
      bottom: rem(12);
      right: rem(12);
      width: rem(32);
      height: rem(32);

      &.color-img {
        filter: brightness(100) saturate(200%) invert(100%) sepia(100%) saturate(50%)
          hue-rotate(1000deg) brightness(100%) contrast(50%);

        // &:hover {
        //   filter: brightness(8) saturate(200%) invert(200%) sepia(0%)
        //     saturate(50%) hue-rotate(50deg) brightness(50%) contrast(50%);
        // }
      }
    }
  }
}

.padding-respon-unit {
  padding-right: rem(10);
}
