.cpn-Static-Page {
  min-height: 50vh;
  width: 100%;
  padding: rem(24);
  background-color: white;
  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: rem(32);
    color: #3e4095;
    text-align: center;
  }

  .container-static-page {
    padding: rem(24);
  }
}
