.custom-iframe-video {
  width: 100%;
  height: rem(500);
  max-height: rem(500);

  @include mobile {
    height: rem(320);
    max-height: rem(320);
  }
}

.res-menu {
  @include mobile {
    gap: 0.25rem;
  }
}
.respon-btn {
  @include mobile {
    margin-top: rem(16) !important;
  }
}

.box-respon {
  @include mobile {
    padding: 0 rem(16);
  }
}

.cusstom-height {
  min-height: 90.5vh;
}

.backgroundBlogs {
  background-color: #3e4095;
  height: 300px;
  display: flex;
  justify-content: center;
}
.backgroundBlog {
  // background-image: url("/assets/images/bgBlog.png");
  // background-size: cover;
  max-width: 1400px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(32);
  @include tablet {
    // height: 240px;
  }
  @include mobile {
    height: 300px;
    flex-direction: column;
  }

  h2 {
    flex: 1;
  }

  .bg-blg-img {
    flex: 1;
    height: 100%;
    margin-top: auto;
    display: flex;
    justify-content: end;
    > img {
      margin-top: auto;
      width: rem(500);
      // height: 100%;
      // object-fit: contain;
    }
  }
}
.set-height {
  max-height: 70vh;
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

.rounded-12.border.border-secondary.px-24.py-20 {
  min-height: 82vh;
}

.custom-css-kh {
  max-height: 100vh;
  &::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

.config-icons {
  width: rem(32);
  object-fit: cover;
}

.count-down-done {
  text-align: center;
  color: var(--neutral-06, #888888);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 15.6px */
}

.css-min-h {
  min-height: 60vh;
  max-height: 60vh;
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: rem(2);
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.class-cusstom-img-phone {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.DevProdgess > div > div > ul {
  grid-template-columns: 1fr 1fr !important;
}

.disable-input-vocabulary {
  background-color: #eeeeee !important;
  pointer-events: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
