.auth-page {
  .auth-box {
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.16);
  }

  .ant-btn {
    border-radius: 0.25rem !important;
    padding: 0.625rem 2rem !important;
    height: auto !important;
  }

  .form-item-otp {
    .ant-form-item-control-input {
      min-height: 0 !important;
      input {
        position: absolute;
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .ant-form-item-label {
    padding: 0 0 0.25rem !important;
    label {
      color: #3e4095 !important;
      font-size: 1rem !important;
      line-height: 1rem !important;
      height: auto !important;
    }
  }

  .ant-form-item {
    margin-bottom: 1rem;
    .ant-input-password {
      display: flex;
      flex-direction: row-reverse;
    }
    // .ant-input-prefix {
    //   cursor: pointer;
    // }
    .ant-input-suffix {
      font-size: 1.2rem;
      padding-right: 6px;
      margin-left: 0;
    }
  }

  .form-item-check-box {
    margin-bottom: 0;
  }

  .shark-success {
    width: 20.5rem;
    height: 17.25rem;
    @media (min-width: 1280px) {
      width: 16.5rem;
      height: 15.25rem;
    }
  }

  .vi__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }

  .vi__container {
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-between;
    gap: 1.875rem;
    .vi__character {
      width: 5rem;
      max-width: 5rem;
      height: 5rem;
      border: 1px solid #d0d5dd;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      line-height: 3.75rem;
      color: #d0d5dd;
      background-color: transparent;
      &--selected {
        border-color: #ec3237;
        outline: none;
      }
    }
  }
}

.class-uppercase {
  text-transform: uppercase;
}

.btn_show_element {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn-chill {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(4);
    border-radius: rem(8);
    border: 1px solid var(--infor-03, #4a66f4);
    background: #fff;
    font-size: rem(16);
    font-style: normal;
    font-weight: 400;
    padding: rem(8) rem(6);
    color: black;
    cursor: pointer;
  }
}

sup.ant-scroll-number.ant-badge-count.ant-badge-count-sm {
  top: 3px;
  right: 3px;
}
