#categories-page .ant-list-item-extra {
  margin-left: 0;
  margin-right: 2rem;
}
#categories-page img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#categories-page .ant-list-item {
  flex-direction: row-reverse;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 1025px) {
  #categories-page .ant-list-item {
    flex-direction: column-reverse;
    padding-left: 0;
    padding-right: 0;
  }
  #categories-page .ant-list-item .ant-list-item-extra {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  #categories-page .ant-list-item .ant-list-item-extra img {
    width: 100%;
  }
}/*# sourceMappingURL=cate.css.map */