#categories-page {
  .ant-list-item-extra {
    margin-left: 0;
    margin-right: 2rem;
  }
  img {
    // width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .ant-list-item {
    flex-direction: row-reverse;
    padding-left: 0;
    padding-right: 0;

    @media screen and (max-width: 1025px) {
      flex-direction: column-reverse;
      padding-left: 0;
      padding-right: 0;
      .ant-list-item-extra {
        margin-right: 0;
        margin-bottom: 1rem;
        img {
          width: 100%;
        }
      }
    }
  }
}
