.course-detail-page .unit-item {
  box-shadow: 0px 4px 16px -4px rgba(16, 24, 40, 0.1);
}
.course-detail-page .unit-item .ic-arrow {
  width: 1.5rem;
  height: 1.5rem;
}
.course-detail-page .btn-filter {
  width: 3rem;
  height: 3rem;
}
.course-detail-page .ant-select {
  width: 100%;
  height: 3rem;
}
.course-detail-page .ant-select .ant-select-selector {
  height: 100% !important;
}
.course-detail-page .ant-select .ant-select-selection-item {
  align-items: center;
  display: inline-block;
  padding-inline-end: 1.5rem !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 3rem;
  font-size: 1rem !important;
  line-height: calc(3rem - 2px) !important;
  font-family: "AtlasGrotesk", sans-serif !important;
}
.course-detail-page .ant-collapse-header {
  display: none !important;
  border: none !important;
}
.course-detail-page .ant-collapse-content,
.course-detail-page .ant-collapse,
.course-detail-page .ant-collapse-item {
  border: none !important;
}
.course-detail-page .ant-collapse-content-box {
  padding: 0 !important;
}

.select-courses {
  font-size: 1rem !important;
  font-family: "AtlasGrotesk", sans-serif !important;
}

.ant-collapse-content > .ant-collapse-content-box {
  padding: 0 rem(16) rem(24) rem(16) !important;
  flex-wrap: wrap;
}/*# sourceMappingURL=course-detail.css.map */