.courses-page .course-item {
  box-shadow: 0px 4px 20px 0px rgba(16, 24, 40, 0.16);
}
.courses-page .course-item ul {
  list-style-type: disc;
  list-style-position: inside;
}
.courses-page .course-item div.course-item-right {
  position: relative;
}
.courses-page .course-item div.course-item-right:after {
  content: "";
  right: 0px;
  top: 0px;
  position: absolute;
  width: 43px;
  height: 100%;
  background-color: #8eba04;
}
.courses-page .course-item div.course-item-right.course-nocomplete {
  position: relative;
}
.courses-page .course-item div.course-item-right.course-nocomplete:after {
  background-color: rgba(226, 226, 226, 0.8);
}
.courses-page .course-item div.course-item-right.course-noauth {
  position: relative;
}
.courses-page .course-item div.course-item-right.course-noauth:after {
  background-color: #7B48FE;
}

.review-page .ant-btn {
  border-radius: 0.25rem !important;
  padding: 0.625rem 2rem !important;
  height: auto !important;
}
.review-page .icon-shark {
  filter: drop-shadow(2px 2px 40px rgba(0, 0, 0, 0.16));
}/*# sourceMappingURL=courses.css.map */