.courses-page {
  .course-item {
    box-shadow: 0px 4px 20px 0px rgba(16, 24, 40, 0.16);
    h1 {
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    ul {
      list-style-type: disc;
      list-style-position: outside;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      li {
        margin-left: 16px;
      }
    }
    // width: calc(50% - 0.75rem);
    div.course-item-right {
      position: relative;
      &:after {
        content: "";
        right: 0px;
        top: 0px;
        position: absolute;
        width: 43px;
        height: 100%;
        background-color: #8eba04;
      }
    }
    div.course-item-right.course-nocomplete {
      position: relative;
      &:after {
        background-color: #e2e2e2cc;
      }
    }
    div.course-item-right.course-noauth {
      position: relative;
      &:after {
        background-color: #7b48fe;
      }
    }
  }
}

.review-page {
  .ant-btn {
    border-radius: 0.25rem !important;
    padding: 0.625rem 2rem !important;
    height: auto !important;
  }
  .icon-shark {
    filter: drop-shadow(2px 2px 40px rgba(0, 0, 0, 0.16));
  }
}
