.course-detail-page {
  .unit-item {
    box-shadow: 0px 4px 16px -4px rgba(16, 24, 40, 0.1);
    .ic-arrow {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .btn-filter {
    width: 3rem;
    height: 3rem;
  }

  .ant-select {
    width: 100%;
    height: 3rem;
    .ant-select-selector {
      height: 100% !important;
    }
    .ant-select-selection-item {
      align-items: center;
      display: inline-block;
      padding-inline-end: 1.5rem !important;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 3rem;
      font-size: 1rem !important;
      line-height: calc(3rem - 2px) !important;
      font-family: "AtlasGrotesk", sans-serif !important;
    }
  }

  .ant-collapse-header {
    display: none !important;
    border: none !important;
  }

  .ant-collapse-content,
  .ant-collapse,
  .ant-collapse-item {
    border: none !important;
  }

  .ant-collapse-content-box {
    padding: 0 !important;
  }
}

.select-courses {
  font-size: 1rem !important;
  font-family: "AtlasGrotesk", sans-serif !important;
}

.ant-collapse-content > .ant-collapse-content-box {
  padding: 0 rem(16) rem(24) rem(16) !important;
  flex-wrap: wrap;
}
