#home {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 100 !important;
  line-height: 160%;
  h1 {
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.0625rem;
  }
  h2 {
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.0625rem;
  }
  h4 {
    font-style: normal;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -0.0625rem;
    font-size: 40px;
    color: var(--neutral-11, #181818);
  }
  .blog-item {
    border-radius: 0.5rem;
    border: 0.0625rem solid #e0e0e0d2;
    overflow: hidden;
    h3 {
      color: #3e4095;
      min-height: 3.625rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .height-cusstom-blog {
      display: flex;
      padding: 1.5rem 0.75rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      align-self: stretch;
      div {
        height: calc(24px * 4);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
  }
  .slider-header {
    background: linear-gradient(180deg, #ffffff 10.98%, #fdebeb 100%);
    height: calc(85vh - 128px);
    @include tablet {
      height: auto;
    }
  }
  .slick-slide {
    margin-top: 32px !important;
  }
  @media screen and (max-width: 64.0625rem) {
    font-size: 0.875rem;
    .slick-slide {
      margin-top: 24px !important;
    }
  }
  .slide-item {
    height: calc(75vh - 80px);
    ul {
      li {
        line-height: 32px;
        list-style: none;
        &::before {
          content: "\203A   ";
          font-size: x-large;
        }
      }
      b {
        font-weight: 700;
      }
    }
    @media screen and (max-width: 64.0625rem) {
      height: auto;
    }
  }
  .slick-dots {
    bottom: 24px;
    li {
      height: auto;
      width: auto;
    }
  }
  .slide-dot {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    transition: 0.2s;
    background-color: #dedede;
    li {
      width: inherit;
      height: inherit;
    }
  }
  .slick-active {
    .slide-dot {
      @apply bg-primary;
      width: 24px;
      height: 12px;
    }
  }

  section.quote {
    > div {
      box-shadow: 0.25rem 0.25rem 2.5rem rgba(0, 0, 0, 0.16);
    }
    .quote-content {
      padding: 24px;
      p {
        margin-top: 24px;
      }
    }
  }

  section.form-block {
    // background: radial-gradient(
    //   137.68% 526.37% at 6.92% 9.45%,
    //   #3e4095 9.4%,
    //   #ec3237 99.04%
    // );
    background-image: url("../../../public/assets/images/bg-section-upgrade-account.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 76rem;
    background-position: center;
  }

  .ant-select-selection-item {
    color: #929292;
  }
  .inspiration {
    transform-style: preserve-3d;
    .text_1 {
      color: var(--Black, #1c1c1c);
      /* 104-regular */
      font-family: panel-sans, sans-serif;
      font-size: 6.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      z-index: 1;
    }
    .text_2 {
      color: var(--Black, #1c1c1c);
      /* 232-light italic */
      font-family: swear-display, serif;
      font-size: 14.5rem;
      font-style: italic;
      font-weight: 400;
      line-height: normal;
      z-index: 1;
    }
    .text_3 {
      color: var(--Black, #1c1c1c);
      /* 104-regular */
      font-family: panel-sans, sans-serif;
      font-size: 6.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      z-index: 1;
    }
    .img_inspi_1 {
      z-index: 2;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      transform-style: preserve-3d;
    }
    .img_inspi_2 {
      z-index: 2;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      transform-style: preserve-3d;
    }
    .img_inspi_3 {
      z-index: 2;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      transform-style: preserve-3d;
    }
    // .parallex {
    //   // overflow: visible !important;
    // }
    .title-button {
      display: flex;
      padding: 0.6358rem 1.5893rem;
      align-items: flex-start;
      border-radius: 1.5893rem;
      border: 0.0794rem solid var(--Black, #1c1c1c);
      color: var(--Black, #1c1c1c);
      font-family: Inter, sans-serif;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.625rem;
    }
  }
}

.custommer-form-upgrade {
  display: flex;
  min-height: rem(150);
  border-radius: 0.5rem;
  overflow: hidden;
  .layout-index {
    background-color: #95ce03;
    padding: 1rem 0.25rem;
    text-align: center;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mobile {
      width: auto;
    }
    .name-Price {
      font-size: rem(40);
      font-weight: 700;
      line-height: 100%;

      @include tablet {
        font-size: rem(30);
      }
      @include mobile {
        font-size: rem(24);
      }
    }

    .name-originalPrice {
      color: #ffd200;
      font-size: rem(16);
      font-style: italic;
      font-weight: 500;
      line-height: 100%;
      margin-left: rem(100);
      text-decoration: line-through;
      @include tablet {
        font-size: rem(12);
      }
      @include mobile {
        margin-left: rem(50);
      }
    }

    .name-date {
      color: #3e4095;
      font-size: 1.75rem;
      font-weight: 700;
    }

    .name-desc {
      color: var(--neutral-06, #181818);
      text-align: center;
      font-size: 1rem;
      font-weight: 300;
    }

    &.child {
      background-color: #fff;
      flex: 1;
    }
  }
}

.css-bg-respon {
  @include tablet {
    margin-top: rem(24) !important;
  }
}

.NavItem-custom {
  > div {
    > svg {
      filter: brightness(0) saturate(100%) invert(15%) sepia(61%)
        saturate(2160%) hue-rotate(226deg) brightness(94%) contrast(89%);
    }
  }
  // > span {
  //   border-bottom: rem(3) solid red;
  //   padding-bottom: rem(5);
  // }
}

.NavItem-custom-active {
  > div {
    > svg {
      filter: brightness(0) saturate(100%) invert(57%) sepia(0%) saturate(0%)
        hue-rotate(178deg) brightness(97%) contrast(93%);
    }
  }
}

.box-expired-account {
  background: #b9030a;
  display: flex;
  padding: rem(6) rem(30);
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
  color: white;
  font-size: rem(18);
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  gap: rem(4);

  > span {
    color: rgb(233, 233, 233);
    font-size: rem(16);
    font-weight: 300;
  }

  @include mobile {
    flex-direction: column;
    text-align: center;
  }
}

.NavItem-custom-border {
  // border-bottom: rem(3) solid red;
}

.line_navItem {
  width: rem(150);
  height: rem(5);
  background-color: red;
  position: absolute;
  bottom: rem(-13);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    bottom: rem(0);
  }
}

.custom-box-img {
  position: absolute;

  @include tablet {
    position: relative;
  }
}

.custom-box-home-page {
  min-height: 70vh;
}

.custommer-sliders-homes {
  @include tablet {
    height: auto !important;
  }
}

// .slick-track {
//   height: 46.375rem;
// }

.css-custom-form-streak {
  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: rem(24);
    gap: rem(16);
  }
}
