$primary: #84c6f8;
$secondary: #d8d8d8;
$size: 70px;

#learn-new-word-page {
  @keyframes fadeUpEnter {
    from {
      opacity: 0;
      transform: translateY(12px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-up-animation {
    animation-fill-mode: forwards;
    position: relative;
    opacity: 0;
    transform: translateY(-8px);
    animation-name: fadeUpEnter;
    animation-duration: 1s;
  }

  .listen-and-write-box {
    input,
    .ant-input-affix-wrapper {
      border-color: #3e4095 !important;
    }
  }

  .ant-checkbox-wrapper {
    margin-left: 8px;
  }
}

.btn-mic {
  border-radius: 100%;
  width: $size;
  height: $size;
  margin: 3rem auto;
  position: relative;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: $size;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  cursor: pointer;
  transition: all 0.5s;

  @include mobile {
    margin: 2rem auto;
  }
}

.pulse-ring {
  content: "";
  width: $size;
  height: $size;
  background: $primary;
  border: 5px solid $primary;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  animation: pulsate infinite 1.5s;
}

.non-border {
  box-shadow: none !important;
  transition: all 0.5s;
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0;
  }
}

.wrapper-bell-items {
  position: relative;

  &:hover {
    .wrapper-form-popup-noti {
      visibility: visible;
      opacity: 1;
      z-index: 1;
    }
  }

  .wrapper-bell {
    font-size: rem(18);
  }

  .wrapper-form-popup-noti {
    position: absolute;
    bottom: rem(-30);
    transform: translateY(100%);
    right: rem(-70);
    visibility: hidden;
    z-index: -1;
    width: rem(450);
    opacity: 0;
    transition: all 300ms ease-in-out;
    border: 1px solid #f6f6f6;
    border-radius: rem(8);
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-height: rem(700);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px;
      height: 1px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 1px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      // background: #a1a2e4;
      border-radius: 1px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      // background: #b30000;
    }

    .box-items-noti {
      display: flex;
      padding: rem(16);
      align-items: center;
      gap: rem(9);
      border-bottom: 0.5px solid #c4c4c4;

      &.active {
        background-color: #f3f3f3;
      }

      .icon-item-noti {
        position: relative;
        width: rem(36);
        height: rem(36);

        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        .dot {
          position: absolute;
          width: rem(5);
          height: rem(5);
          background-color: red;
          border-radius: 50%;
        }
      }
      .form-des-noti {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(6);
        flex: 1 0 0;

        .header-noti-form {
          display: flex;
          gap: rem(8);
          align-items: center;
          font-size: rem(14);
          > p {
            color: var(--neutral-10, #181818);
            font-size: rem(14);
            font-style: normal;
            font-weight: 700;
          }
        }
      }
    }
  }
}
ul.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light {
  margin-top: rem(30) !important;
}
