.note-page .ant-btn-note {
  border-radius: 0.25rem !important;
  padding: 0.625rem 2rem !important;
  height: auto !important;
}
.note-page .icon-status {
  width: 1.45rem;
  height: 1.45rem;
}
@media screen and (min-width: 768px) {
  .note-page .icon-status {
    width: auto;
    height: auto;
  }
}
.note-page .icon-trash {
  width: 1.15rem;
  height: 1.15rem;
}
@media screen and (min-width: 768px) {
  .note-page .icon-trash {
    width: auto;
    height: auto;
  }
}/*# sourceMappingURL=note.css.map */