.main-box {
  width: 788px;
  height: 588px;
  position: relative;
  .diag-arrow {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  .b1 {
    -webkit-mask-image: url("../../../public/assets/images/img-box-mask.svg");
    mask-image: url("../../../public/assets/images/img-box-mask.svg");
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 788px;
    height: 588px;
    flex-shrink: 0;
    background-color: var(--Tex-opacity, #c8c8c8);
    position: relative;
    border-radius: 40px;

    img {
      width: 100%;
      height: 100%;
      -webkit-transition: all 0.7s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      -ms-transform: scale(1, 1);
      /* IE 9 */
      -webkit-transform: scale(1, 1);
      /* Safari */
      transform: scale(1, 1);
      &:hover {
        scale: 1.3;
      }
    }
  }
  .b2 {
    position: absolute;
    padding-left: 20px;
    padding-bottom: 20px;
    top: 0px;
    right: 0px;
    border-radius: 20px;

    button {
      border-radius: 20px;
      width: 64px;
      height: 64px;
      flex-shrink: 0;
      background-color: #1c1c1c;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 200;
    }
  }
}
.main-box.small {
  width: 409px;
  height: 240px;
  position: relative;
  .diag-arrow {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  .b1 {
    -webkit-mask-image: url("../../../public/assets/images/img-box-mask-small.png");
    mask-image: url("../../../public/assets/images/img-box-mask-small.png");
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 409px;
    height: 240px;
    flex-shrink: 0;
    background-color: var(--Tex-opacity, #c8c8c8);
    position: relative;
    border-radius: 40px;

    img {
      width: 100%;
      height: 100%;
      -webkit-transition: all 0.7s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      -ms-transform: scale(1, 1);
      /* IE 9 */
      -webkit-transform: scale(1, 1);
      /* Safari */
      transform: scale(1, 1);
      &:hover {
        scale: 1.3;
      }
    }
  }
  .b2 {
    position: absolute;
    padding-left: 20px;
    padding-bottom: 20px;
    top: 0px;
    right: 0px;
    border-radius: 20px;

    button {
      border-radius: 20px;
      width: 64px;
      height: 64px;
      flex-shrink: 0;
      background-color: #1c1c1c;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 200;
    }
  }
}
