svg.speedometer text {
  display: none !important;
}

h2 {
  color: var(--neutral-11, #181818);
  font-family: Public Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  padding-bottom: 16px;
}

p::first-letter {
  text-transform: capitalize;
}

.row > * {
  padding: 0px 2px;
}

.modal-calendar .ant-modal-content {
  padding: 0px !important;
}
.modal-calendar .ant-modal-content span.MuiDayCalendar-weekDayLabel {
  margin: 4px 20px !important;
}
.modal-calendar .ant-modal-content .Mui-disabled {
  opacity: 1 !important;
  color: rgba(0, 0, 0, 0.658) !important;
}
.modal-calendar .ant-modal-content .highlighted .Mui-disabled {
  color: #ec3237 !important;
}
.modal-calendar .ant-modal-content .MuiPickersDay-hiddenDaySpacingFiller {
  background-color: white !important;
  border: none !important;
  box-shadow: none !important;
}
.modal-calendar .ant-modal-content .MuiPickersDay-today {
  border: none !important;
}
.modal-calendar .ant-modal-content .MuiPickersDay-root {
  width: 100% !important;
  height: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
}/*# sourceMappingURL=revise.css.map */