.upgrade-history .form-upgrade {
    display: flex;
    min-height: rem(150);
    border-radius: 8px;
    overflow: hidden; 
    .layout-index {
      background-color: #95ce03;
      padding: 16px 4px;
      text-align: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include mobile {
        width: auto;
      }
      .name-Price {
        font-size: rem(40);
        font-weight: 700;
        line-height: 100%;
  
        @include tablet {
          font-size: rem(30);
        }
        @include mobile {
          font-size: rem(24);
        }
      }
  
      .name-originalPrice {
        color: #ffd200;
        font-size: rem(16);
        font-style: italic;
        font-weight: 500;
        line-height: 100%;
        margin-left: rem(100);
        text-decoration: line-through;
        @include tablet {
          font-size: rem(12);
        }
        @include mobile {
          margin-left: rem(50);
        }
      }
  
      .name-date {
        color: #3E4095;
        font-size: 28px;
        font-weight: 700;
      }
  
      .name-desc {
        color: var(--neutral-06, #181818);
        text-align: center;
        font-size: 16px;
        font-weight: 300;
      }
  
      &.child {
        background-color: #fff;
        flex: 1;
      }
    }
  }

.ant-descriptions-item-content{
     padding: 0px !important;
     border-radius: 0px !important;
}
.child-description .ant-descriptions-view{
    border-radius: 0px !important;
    .ant-descriptions-item-content{
        padding-left:8px !important ;
    }
}