@mixin prefix($str, $value: none) {
  @each $browser in $browsers {
    -#{$browser}-#{$str}: $value;
  }
  #{$str}: $value;
}
$browsers: (webkit ms moz);

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1025px;

@mixin tablet {
  @media only screen and (max-width: $desktop-width) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $tablet-width) {
    @content;
  }
}
// @mixin mobile_tablet {
//   @media (max-width: #{$desktop-width - 1px}) {
//     @content;
//   }
// }
// @mixin tablet_under {
//   @media (max-width: #{$tablet-width - 1px}) {
//     @content;
//   }
// }
// @mixin tablet {
//   @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
//     @content;
//   }
// }
// @mixin desktop {
//   @media (min-width: #{$desktop-width}) {
//     @content;
//   }
// }

@mixin window-width-between($min-width, $max-width) {
  @if $min-width > $max-width {
    // if the arguments are entered in wrong order, fix it
    $tmp-width: $min-width;
    $min-width: $max-width;
    $max-width: $tmp-width;
  }
  @media (max-width: $max-width) and (min-width: $min-width) {
    @content;
  }
}

@mixin hover() {
  &:not([disabled]):hover {
    @content;
  }
}

@mixin scale($size_x: 1, $size_y: false) {
  @if $size_y != false {
    @each $browser in $browsers {
      -#{$browser}-transform: scale($size_x, $size_y);
    }
    transform: scale($size_x, $size_y);
  } @else {
    @each $browser in $browsers {
      -#{$browser}-transform: scale($size_x);
    }
    transform: scale($size_x);
  }
}

@mixin flexbox(
  $display: flex,
  $direction: row,
  $wrap: nowrap,
  $main-axis-align: normal,
  //
  $cross-axis-align: stretch,
  $align-content: stretch
) {
  // set display
  @if $display != flex {
    $display: inline-flex;
  }
  display: block; // ie9 support
  display: -ms-#{$display}box;
  display: -webkit-#{$display};
  display: #{$display};
  // set flex flow
  -ms-flex-wrap: #{$wrap};
  -ms-flex-direction: #{$direction};
  @include prefix(flex-flow, (#{$direction} #{$wrap}));
  // set justify-content
  -ms-flex-pack: fix-ie10-flex-value($main-axis-align);
  @include prefix(justify-content, $main-axis-align);
  // set align-items
  -ms-flex-align: fix-ie10-flex-value($cross-axis-align);
  @include prefix(align-items, $cross-axis-align);
  // set align-content
  -ms-flex-line-pack: fix-ie10-flex-value($align-content);
  @include prefix(align-content, $align-content);
}

@mixin primary-btn {
  background: $green;
  color: $white;

  border-radius: 4px;
  border: 1px solid $green;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@mixin secondary-btn {
  background: $white;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  color: $green;
  text-transform: uppercase;

  border-radius: 4px;
  border: 1px solid $green;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@mixin addToCart-btn {
  border-radius: 4px;
  border: 1px solid $yellow;
  background: $yellow;
  width: 76%;
  height: 48px;

  font-size: convert-rem(14);
  text-transform: uppercase;
  color: $black;
  font-weight: $font-weight-bold;
  opacity: 0.74;

  @include flexbox(flex, row, wrap, center, center);
}

@mixin interactive-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: $light-gray;
  z-index: 1;
  @include flexbox(flex, row, wrap, center, center);
}

@mixin tag {
  @include secondary-btn();
  text-transform: lowercase;
  &:hover {
    background: $green;
    border-color: $green;
    color: $white;
  }
}
