@import "../common";
html {
  /* ( 1 % 1440 ) * 100 -> px to rem
    note: 1:  16px in figma 16px === 1rem
    1440 : width size figma
    100: 100%
    */
  // font-size: 0.06944444444vw;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #1c1c1c;
}
a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 1rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
