.src-components-menuheader-index {
  width: 100%;
  padding: rem(20) rem(48);
  background: transparent;

  @include tablet {
    padding: rem(20) rem(24);
  }
  @include mobile {
    display: none;
  }
}

.reponsive-tablet-blog-homepage {
  @include tablet {
    margin-top: 3rem;
  }
}
.nav-active {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: var(--Black, #1c1c1c);
  color: var(--Green-Neon, #d4ff77);
  // font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav-unactive {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  // font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
ul.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.mx-auto.false {
  position: relative;
}
.header-text {
  color: var(--Black, #1c1c1c);
  text-align: right;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
